In [3]:
num1 = 12.45
num1 = int(num1)
print(num1)
num2 = "12.45"
num2 = int(float(num2))
print(num2)
flag1 = True
flag1 = int(flag1)
print(flag1)
code = "a123"
# code = int(code)  ====> Error
num3 = "0123"
num3 = int(num3)
print(num3)

12
12
1
123

In [4]:
num4 = 10
num4 = float(num4)
print(num4)
num5 = 4.
num5 = float(num5)
print(num5)
num6 = "4.7"
num6 = float(num6)
print(num6)
num7 = "51"
num7 = float(num7)
print(num7)
name = "python" # Error

10.0
4.0
4.7
51.0

In [5]:
flag3 = False
flag3 = bool(flag3)
print(flag3)
flag4 = "False"
flag4 = bool(flag4)
print(flag4)
# flag5 = false  ===> Error
name1 = ""
name1 = bool(name1)
print(name1)
name2 = " "
name2 = bool(name2)
print(name2)
num8 = 0
num8 = bool(num8)
print(num8)

False
True
False
True
False

In [6]:
flag = False
num = 0.000
flag = str(flag)
print(flag)
num = str(num)
print(num)

False
0.0

### Q2

In [ ]:
x = "300" # x is str
y = int(x) # change x from str to int and assign to y
z = y + 200 # 300 + 200
print(z)
a = float(z) # float(500) ===> 500.0
b = a + x # 500.0 + "300" ====> Error
c = int(b) + 100

In [7]:
# fix error
x = "300" # x is str
y = int(x) # change x from str to int and assign to y
z = y + 200 # 300 + 200
print(z)
a = float(z) # float(500) ===> 500.0
b = a + int(x) # 500.0 + 300 
print(b)
c = int(b) + 100
print(c)

500
800.0
900

In [8]:
x = "250" # x is str
y = int(x) # assign int value of x to y
z = y // 3 
print(z)
a = str(z) # change z to str
print(a, type(a))
b = a + x # sum of two str is join of them
c = int(b) // 2 
print(c)

83
83 <class 'str'>
41625

### Q3

In [10]:
answer = input("your answer: ")
print(answer == "yes" or answer == "no")

False

## Q4

In [11]:
answer = input("your anser: ")
print(bool(answer))

False

## Q5

## Q6

In [12]:
num1, num2, num3 = 17, 1.8, 28
print(num1, num2, num3)

17 1.8 28

In [3]:
c = int(input())
f = (9/5 * c) + 32
print(f)

41.0

In [14]:
# num4, num5 = 45, 12, 19
# fix error
num3, num4, num5 = 45, 12, 19
num4, num5 = 12, 19
print(num3, num4, num5)

45 12 19

In [15]:
#num6, num7, num8 = 200, 300
#fix error
num6, num7, num8 = 200, 300, 400
print(num6, num7, num8)

200 300 400

In [16]:
name, score, passed = "Sara", 19, True
print(name, score, passed)

Sara 19 True

In [17]:
var1 = var2 = var3 = 500
print(var1, var2, var3)

500 500 500

In [19]:
# replace values of two variable
num1 = 20
num2 = 30
num1, num2 = num2 , num1
print(num1, num2)

30 20

# Ex02

### Q1

In [20]:
chr1 = input("a chr: ")
if chr1 == "a" or chr1 == "i" or chr1 == "o" or chr1 == "a" or chr1 == "u" or chr1 == "e":
  print("yes")
else:
  print("no")

yes

## Q2

In [21]:
number = int(input())
if 10 <= number <= 20:
  print("in range")
else:
  print("out of range")

in range

## Q3

In [23]:
num1 = int(input())
num2 = int(input())
sum_ = num1 + num2
if sum_ > 20:
  print("greater")
else:
  print("not greater")

greater

## Q4

In [26]:
color1 = input()
color2 = input()
color3 = input()
if color1 == color2 == color3:
  print("All colors match")
elif color1 == color2 or color2 == color3 or color3 == color1:
  print("Two colors match")
else:
  print("No colors match")

Two colors match

## Q5

In [28]:
num1 = 4
num2 = 5.4
if type(num1) == str and type(num2) == str:
  res = num1 + num2
elif type(num1) == int and type(num2) == int:
  res = num1 - num2
elif type(num1) == int and type(num2) == float and num2 != 0:
  res = num1 / num2
elif type(num1) == int and type(num2) == float:
  res = "Cannot divide by zero"
else:
  res = "Invalid syntax"
print(res)

0.7407407407407407